In [3]:
import pandas as pd
import urllib.parse
from thefuzz import fuzz

In [4]:

# --- 2. DATA EXTRACTION ---
csv_path = '/Users/priyarajendran/Desktop/git/rajendran-priya/oubt-training/yellow-taxi-data-set /taxi_zone_lookup.csv'
df_raw_zones = pd.read_csv(csv_path)
df_raw_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
# --- 3. DATA QUALITY: FUZZY DUPLICATE DETECTION ---
print("ðŸ” Checking for duplicate Taxi Zones using Fuzzy Matching...")
zones = df_raw_zones['Zone'].unique()
duplicatesFound = False

for i, zone_a in enumerate(zones):
    for zone_b in zones[i+1:]:
        score = fuzz.ratio(zone_a, zone_b)
        # Score > 90 indicates potential typo/duplicate
        if score > 90 and score < 100:
            print(f"âš ï¸ Potential Duplicate Found: '{zone_a}' and '{zone_b}' (Score: {score})")
            duplicatesFound = True

if not duplicatesFound:
    print("âœ… No fuzzy duplicates detected in Taxi Zones.")

ðŸ” Checking for duplicate Taxi Zones using Fuzzy Matching...
âš ï¸ Potential Duplicate Found: 'Financial District North' and 'Financial District South' (Score: 92)
âš ï¸ Potential Duplicate Found: 'Greenwich Village North' and 'Greenwich Village South' (Score: 91)
âš ï¸ Potential Duplicate Found: 'Springfield Gardens North' and 'Springfield Gardens South' (Score: 92)
âš ï¸ Potential Duplicate Found: 'Washington Heights North' and 'Washington Heights South' (Score: 92)
âš ï¸ Potential Duplicate Found: 'Williamsburg (North Side)' and 'Williamsburg (South Side)' (Score: 92)

In [7]:
print("the found duplicates are not actual duplicates. so we can proceed further")

the found duplicates are not actual duplicates. so we can proceed further